<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestQS.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="url" value="http://localhost/qmc"/>
    <add key="username" value="domain\user"/>
    <add key="savePwd" value="true"/>
    <add key="pwd" value="password"/>
    <add key="smtp_server_address" value="smtp.yandex.ru"/>
    <add key="smtp_server_port" value="25"/>
    <add key="smtp_server_ssl" value="true"/>
    <add key="smtp_username" value="mail@yandex.ru"/>
    <add key="smtp_pwd" value="password"/>
    <add key="smtp_email" value="no-replay@yandex.ru"/>
    <add key="smtp_to" value="admins@yandex.ru"/>

    <add key="auto_start" value="true"/>
    <add key="instance" value="PROD"/>
  </appSettings>
</configuration>